$color-accent: #ff6f61;
div.main {
  padding-bottom: 60px;
}

div.full-height {
  min-height: 100vh;
}

.navbar-light .navbar-nav .nav-link{
  &:hover{
    color: $color-accent !important;
  }
}

a.link-no-style {
  &:hover {
    text-decoration: none;
  }
}

.footer-body {
  h2 {
    color: black;
    font-family: "Dosis", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 30px;
    padding-top: 3rem;
  }
  .bold {
    font-weight: 800;
  }
  .social-icons {
    padding: 50px 0;
    .fa-2x {
      &:hover {
        color: $color-accent !important;
      }
    }
  }
}
